.header-links{
  display: flex;
  gap: 40px;
}

.header-container{
  background: url("../assets/header-orange-img.jpg");
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: contain;
}

.header-button button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  color: #000;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 8px;
  font-size: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.header-menu{
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  padding: 20px 0;
  z-index: 1;
}

.header-content__block-one{
  display: grid;
  gap: 40px;
}

.header-content{
  max-width: 1280px;
  margin: 0 auto;
  gap: 50px;
  z-index: 1;
}

.header-content__block-one div button {
  border: none;
  background: #6259EA;
  color: #fff;
  padding: 20px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 15px;
  font-weight: 500;
}

.header-content__block-one p{
  font-size: 1.3rem;
}

.header-content__block-one div button:hover{
  background: #000087;
}

.block-one__h1{
  font-size: 3.5rem;
  width: 650px;
  font-weight: 400;
  margin-top: 5%;
}

.square{
  width: 10px;
  height: 10px;
  background-color: #EA5959;
}
.link__watch-video{
  display: flex;
  align-items: center;
  gap: 10px;
}
.content__link{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 7%;
  margin-bottom: 7%;
}

.content__links{
  display: grid;
  gap: 10px;
}

/* header-bottom */

.header-bottom{
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}

.header-bottom__background{
  background-color: #d0cdff;
}